* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 13px !important;
	font-family: arial, sans-serif !important;
}

h1 {
	text-align: center;
	font-size: 170%;
	font-weight: bold;
	margin: 0.5em 0;
}

h2 {
	text-align: left;
	font-size: 130%;
	font-weight: bold;
	margin: 0.5em 0;
}

h3 {
	text-align: left;
	font-size: 100%;
	font-weight: bold;
	margin: 0.5em 0;
}

#login {
	padding: 0.25em 0.5em;
	text-align: right;
}

#content {
	padding: 0 1em;
	text-align: left;
}
.gwt-Label-Red {
	font-color: #AC0C0C;	
}